nav{
	display:flex;
	justify-content:space-between;
	background-color: rgba(176, 201, 222, 0.342);
	/*float: right;*/
	align-items: center;
	padding-right: 20px;
	padding-left: 20px;
}

nav ul{
	list-style:none;
	float: right;
	color:black;
}

nav ul li {
	display:inline-block;
	margin-right: 8px;
	color:black;

}

nav ul li a{
	text-decoration:none;
}
